.collection-page {
    display: grid;
    grid-template-areas:
            "header header header"
            "badges collection-plants interactions";
    grid-template-columns: 20% auto 20%;
    width: 90rem;
    margin: 0 auto;
}

.collection-badges {
    grid-area: badges;
    margin: 0 auto 1rem 0;
}

.collection-interactions {
    grid-area: interactions;
    margin: 0 0 1rem auto;
}