/* Mobile version. */
.plant-profile-page {
    display: grid;
    grid-template-areas:
            "header header header"
            "options options options"
            "content content content"
            "footer footer footer";
    grid-template-columns: 20% minmax(1rem, auto) 20%;
    grid-template-rows: 9.3rem 4rem auto 3rem;
    width: 100vw;
    margin: 0;
    background: var(--color-gray-gradient);
}

.mobile-section-container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    grid-area: content;
    margin: 0 0 2rem 0;
}

.publications-container {
    margin: 0 0 2rem 0;
}

.mobile-section-container.publications {
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.mobile-section-container.publications .publications-section-title {
    padding: 0;
}

.plant-profile-page .section-title {
    padding: 0 0 1rem 0;
}

.collection-option-container {
    grid-area: options;
    display: grid;
    grid-column-gap: 0.25rem;
    grid-template-columns: repeat(3, 33.3%);
    width: calc(100% - 1.55rem);
    margin: 0.5rem;
    height: fit-content;
}

.button-open-section.collection-option {
    display: block;
    font-size: 0.7rem;
    width: calc(100%);
    height: fit-content;
    white-space: nowrap;
    padding: 0.45rem 0;
    border: 1px solid var(--color-white-light-border);
    background: var(--color-green-collection-option);
    text-shadow: 0 0 1rem var(--color-black-lightest-shadow);
}

.button-open-section.collection-option:hover {
    background: var(--color-green-collection-option-active);
    filter: unset;
}

.selected-collection-option {
    background: var(--color-green-collection-option-active) !important;
    color: white;
}

.plant-profile-page .data-section-content {
    display: block;
}

.owner-data-container .list-item-container {
    padding: 0;
    width: 100%;
    margin: 0;
}

.owner-data-container .list-item-container .list-img-container {
    width: 2rem;
    height: 2rem;
}

.info-plant-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.info-plant-container p {
    margin: 0;
    font-size: 0.78rem;
    font-weight: 300;
    padding: 0.4rem 1.5rem;
    width: calc(100% - 3rem);
    text-align: left;
}

.info-plant-container p span {
    font-weight: 500;
}

/* Tablet version. */
@media all and (min-width: 768px) {
    .plant-profile-page {
        grid-template-areas:
            "header header header"
            "data content metadata";
        grid-template-columns: minmax(11rem, 18%) minmax(10rem, auto) minmax(11rem, 18%);
        grid-template-rows: 14rem auto;
        width: 80%;
        min-width: 44rem;
        max-width: 90rem;
        margin: 0 auto;
        padding-top: 8rem;
        background: white;
    }

    .plant-profile-data-container .data-section-container {
        margin: 0 0 1rem 0;
        width: 9.3rem;
    }

    .publications-container {
        margin: 0;
    }

    .plant-profile-page .section-title {
        padding: 0 0 1rem 0;
    }

    .owner-data-container {
        justify-self: right;
    }

    .owner-data-container .button-open-section {
        display: block;
        margin-bottom: 1rem;
    }

    .plant-profile-data-container {
        grid-area: data;
    }

    .plant-profile-data-container .data-section-container {
        animation-name: fadeIn;
        animation-duration: 2s;
    }

    .plant-profile-data-container .data-section-container:nth-child(1) {
        animation-duration: 0.5s;
    }

    .plant-profile-data-container .data-section-container:nth-child(2) {
        animation-duration: 1s;
    }

    .plant-profile-data-container .data-section-container:nth-child(3) {
        animation-duration: 1.5s;
    }

    .info-plant-container p {
        font-size: 0.7rem;
        padding: 0.4rem 0.5rem;
        width: calc(100% - 1rem);
        text-align: center;
    }
}

/* Desktop version. */
@media all and (min-width: 1100px) {
    .plant-profile-page {
        grid-template-rows: 16rem auto;
        grid-template-columns: minmax(14rem, 20%) minmax(10rem, auto) minmax(14rem, 20%);
        padding-top: 10rem;
    }

    .plant-profile-page .post-container {
        width: calc(100% - 2rem);
    }

    .plant-profile-page .post-container-published {
        width: calc(100% - 1.4rem);
    }

    .plant-profile-page .post-content {
        grid-template-columns: min(9rem, 30%) minmax(3rem, auto) 5rem;
    }

    .plant-profile-page .section-title {
        min-width: 3rem;
    }

    .plant-profile-page .post-select-profile {
        width: 6rem;
        margin-right: 0.25rem;
        justify-self: right;
    }

    .plant-profile-page textarea {
        padding: 0.8rem 1.3rem 0.5rem 1.5rem !important;
        width: calc(100% - 2.8rem) !important;
    }

    .plant-profile-data-container .data-section-container {
        margin: 0 0 1.5rem 0;
        width: 12rem;
    }

    .owner-data-container .button-open-section {
        margin-bottom: 1.5rem;
    }

    .info-plant-container p {
        text-align: left;
    }
}