.collection-header {
    grid-area: header;
    display: grid;
    grid-template-areas:
            "img name overview"
            "empty empty controls";
    grid-template-columns: 15% auto 33%;
    grid-template-rows: auto 2rem;
    width: 90rem;
    height: 14rem;
    margin: 0 auto;
    position: relative;
}

.collection-header .first-background, .collection-header .second-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 60rem;
    height: 12rem;
    background: var(--color-black-lightest-shadow);
    z-index: 0;
}

.collection-header .first-background {
    width: 90rem;
    background-image: url("../assets/geometric-background.jpeg");
    background-position-y: 33%;
    opacity: 20%;
}

/* TODO: Move to app.css */
.collection-profile-header {

}

.collection-profile-header .list-img-container {
    grid-area: img;
    width: 9rem;
    height: 9rem;
    margin: 1.5rem 2rem;
    z-index: 1;
}

.collection-profile-header h2 {
    grid-area: name;
    font-size: 2rem;
    align-self: center;
    margin: 0;
    padding: 1rem;
    color: var(--color-white-text);
    z-index: 1;
}

.collection-overview {
    grid-area: overview;
    height: 11rem;
    width: 22rem;
    align-self: center;
    margin: 0 auto;
    z-index: 1;
}

.collection-overview h4 {
    width: fit-content;
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: 600;
}

.collection-overview p {
    margin: 0.8rem 0;
    font-size: 0.85rem;
    font-weight: 500;
}

.collection-overview p span {
    font-weight: 300;
}

.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0.25rem 0.25rem 0.25rem;
    border-right: 0.3rem solid transparent;
    border-bottom: 0.7rem solid var(--color-gray-border);
    border-left: 0.3rem solid transparent;
    transform: scale(0.5);
}

.star:before,.star:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.6rem;
    left: -1rem;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem  solid var(--color-gray-border);
    border-left: 1rem solid transparent;
    transform: rotate(-35deg);
}

.star:after {
     transform: rotate(35deg);
 }

.filled, .filled:before, .filled:after  {
    border-bottom: 0.7rem solid var(--color-gray-dark);
}

.collection-overview p .star:nth-child(1) {
    margin-left: 0.8rem;
}
