/* Mobile version. */
.collection-interactions {
    grid-area: content;
}

.collection-interactions .list-img-container  {
    cursor: pointer;
}

/* Tablet version. */
@media all and (min-width: 768px) {
    .collection-interactions {
        grid-area: interactions;
    }
}

/* Desktop version. */
@media all and (min-width: 1100px) {
}