/* Mobile version. */
.data-section-container {
    border: 1px solid var(--color-gray-border);
    width: calc(100% - 1rem);
    max-width: 22rem;
    margin: 0.5rem auto;
    padding: 0;
    background: white;
    border-radius: 0.1rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.data-section-title {
    margin: 0;
    background: var(--color-green-section);
    color: var(--color-white-text);
    font-size: 0.88rem;
    font-weight: 500;
    text-shadow:
            0 0 0.1rem var(--color-black-lighter-shadow),
            0 0 0.4rem var(--color-black-lighter-shadow);
    padding: 0.85rem;
    text-align: center;
}

.data-section-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 4.7rem);
    grid-gap: 0.4rem;
    padding: 0.5rem;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    height: fit-content;
}

.collection-badges .data-section-content {
    justify-content: center;
}

.data-section-content .list-img-container {
    margin: 0;
    width: 4.7rem;
    height: 4.7rem;
    box-shadow: 0 0 0.7rem var(--color-black-lightest-shadow);
    border: 1px solid var(--color-gray-border);
}

.data-section-content .arrow-button {
    transform: scale(0.8) rotate(90deg);
    margin: 0.5rem auto;
}

/* Tablet version. */
@media all and (min-width: 768px) {
    .data-section-container {
        width: 7.2rem;
        margin-bottom: 2rem;
    }

    .data-section-title {
        font-size: 0.85rem;
        padding: 0.75rem 0.4rem;
    }

    .data-section-content {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(auto-fill, 3.2rem);
        grid-gap: 0.15rem;
        padding: 0.25rem;
        width: calc(100% - 0.55rem);
        justify-content: center;
    }

    .data-section-content .list-img-container {
        width: 3.2rem;
        height: 3.2rem;
    }

    .data-section-content .arrow-button {
        transform: scale(0.65) rotate(90deg);
        margin: 0.5rem auto;
    }

}

/* Desktop version. */
@media all and (min-width: 1100px) {
    .data-section-container {
        width: 11rem;
    }

    .data-section-title {
        font-size: 1rem;
        padding: 1rem;
    }

    .data-section-content {
        grid-template-columns: repeat(3, 33.3%);
        grid-template-rows: repeat(auto-fit, 3.4rem);
        grid-gap: 0.15rem;
        width: calc(100% - 0.65rem);
    }

    .data-section-content .list-img-container {
        width: 3.35rem;
        height: 3.35rem;
    }

    .data-section-content .arrow-button {
        transform: scale(0.8) rotate(90deg);
        margin: 0.5rem auto;
    }
}