.data-section-container {
    border: 1px solid var(--color-gray-border);
    width: 12rem;
    margin: 0 auto 1rem auto;
    padding: 0;
    background: white;
    border-radius: 0.1rem;
    overflow: hidden;
}

.data-section-title {
    margin: 0;
    background: var(--color-green-section);
    color: var(--color-white-text);
    font-size: 1rem;
    font-weight: 500;
    text-shadow:
            0 0 0.1rem var(--color-black-lighter-shadow),
            0 0 0.4rem var(--color-black-lighter-shadow);
    padding: 1rem;
    text-align: center;
}

.data-section-content {
    display: grid;
    grid-template-columns: repeat(3, 3.4rem);
    grid-gap: 0.4rem;
    padding: 0.5rem;
    width: calc(100% - 1.8rem);
}

.data-section-content .list-img-container {
    margin: 0;
    width: 3.4rem;
    height: 3.4rem;
    box-shadow: 0 0 0.7rem var(--color-black-lightest-shadow);
    border: 1px solid var(--color-gray-border);
}

.data-section-content .arrow-button {
    transform: scale(0.8) rotate(90deg);
    margin: 0.5rem auto;
}