/* Mobile version. */
.filters-section-container {
    grid-area: filters;
    display: grid;
    grid-template-areas:
            "current-filters select-filters";
    grid-template-columns: auto fit-content(0);
    width: 100%;
}

.filters {
    grid-area: select-filters;
}

.button-open-section {
    display: none;
}

.current-applied-filters {
    grid-area: current-filters;
    height: 100%;
    pointer-events: none;
    width: fit-content;
    margin: 0 0 0 auto;
}

.mobile-filters, .current-filters {
    align-self: center;
    align-items: center;
    margin: 0;
    padding: 0.3rem 0.9rem 0.3rem 1.5rem;
    width: calc(100% - 2.4rem);
    height: 1.1rem;
}

.mobile-filters {
    display: flex;
    column-gap: 0.4rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: var(--color-green-lighter-header-medium-transparency);
    border-radius: 0.2rem 0 0 0.2rem;
    color: var(--color-white-text);
    font-weight: normal;
    font-size: 0.9rem;
    cursor: pointer;
}

.search-img {
    height: 0.95rem;
    width: auto;
}

.expanded-filters {
    padding: 0.8rem 0;
    background: white;
    margin: 1.5rem 0;
}

.expanded-filters .list-item-container {
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    margin: 0 auto;
}

.list-img-container {
    width: 3.2rem;
    height: 3.2rem;
}

.lazy-load-image-background, .lazy-load-image-loaded {
    height: 100%;
    width: 100%;
}

.selected-filter-item img {
    filter: brightness(35%);
}

.selected-filter-item .list-img-container div {
    position: absolute;
    top: 36%;
    left: 24%;
    margin: 0;
    width: 1.5rem;
    height: 0.5rem;
    border-bottom: 2px solid var(--color-white-text);
    border-left: 2px solid var(--color-white-text);
    transform: rotate(-45deg);
}

.selected-filter-item p {
    font-weight: 500;
}

.filter-buttons {
    display: flex;
    column-gap: 0.3rem;
    margin: 0 0.5rem;
}

.current-filters {
    display: flex;
    column-gap: 0.2rem;
    justify-content: flex-start;
}

.current-filters {
    padding: 0.3rem 0.4rem 0.3rem 0.3rem;
    width: fit-content;
    column-gap: 0.1rem;
    height: 1.1rem;
    max-width: 12.8rem;
    flex-direction: row-reverse;
    margin: 0 0 0 auto;
}

.current-filters .current-filter-container:nth-child(5) {
    opacity: 80%;
}

.current-filters .current-filter-container:nth-child(6) {
    opacity: 60%;
    height: 1.05rem;
}

.current-filters .current-filter-container:nth-child(7) {
    opacity: 40%;
    height: 1rem;
}

.current-filters .current-filter-container:nth-child(8) {
    opacity: 20%;
    height: 0.95rem;
}

.current-filters .current-filter-container:nth-child(9) {
    opacity: 10%;
    height: 0.9rem;
}

.current-filters .current-filter-container:nth-child(n + 10) {
    display: none;
}

.current-filter-container {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--color-white-soft-background);
    box-shadow: 0 0 0.8rem var(--color-black-lighter-shadow);
    border-radius: 50%;
    overflow: hidden;
}

.current-filter-container img {
    height: 100%;
}

/* Tablet version. */
@media all and (min-width: 768px) {
    .filters-section-container, .filter-div-container .button-open-section {
        display: block;
    }

    .filter-div-container {
        display: block;
        background: white;
        height: fit-content;
        width: 10rem;
        border-radius: 0.15rem;
        box-shadow: 0 0 1rem var(--color-black-shadow);
        margin: 0.8rem auto;
        cursor: pointer;
        overflow: hidden;
    }

    .filter-div-container .button-open-section {
        display: block;
        box-shadow: 0 0 1rem var(--color-black-lighter-shadow);
    }

    .expanded-filters .list-item-container {
        width: calc(100% - 2rem);
    }

    .expanded-filters .list-img-container {
        width: 2.5rem;
        height: 2.5rem;
    }

    .expanded-filters {
        padding: 0.8rem 0 0 0;
        background: none;
        margin: 0;
    }

    .current-applied-filters {
        height: fit-content;
    }

    .filter-buttons {
        margin: 1rem 0.3rem 0.3rem 0.3rem;
        padding-top: 0.3rem;
        border-top: 1px solid var(--color-black-lighter-shadow);
    }

    .filter-buttons .button-action {
        padding: 0.5rem;
    }

    .current-filters {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        grid-template-rows: auto;
        grid-column-gap: 6.6%;
        height: fit-content;
        width: calc(100% - 2rem);
        padding: 0 1rem;
    }

    .filled-current-filters {
        padding: 0.5rem 1rem;
    }

    .current-filters .current-filter-container:nth-child(n) {
        opacity: 100%;
        height: calc(100% - 0.6rem);
        margin: 0.3rem 0;
    }
}

/* Desktop version. */
@media all and (min-width: 1100px) {
    .filter-div-container {
        width: 12rem;
    }

    .expanded-filters .list-item-container {
        width: calc(100% - 5rem);
    }

    .expanded-filters .list-img-container {
        width: 3.2rem;
        min-width: 3.2rem;
        height: 3.2rem;
    }
}