.modal-list-container {
    display: grid;
    grid-template-areas:
            "title"
            "list"
            "buttons";
    grid-template-columns: 100%;
    min-width: 48rem;
    width: fit-content;
}

.list-content {
    display: grid;
    grid-template-columns: 33% auto auto;
}

.list-item-container {
    background: white;
    margin: 0 0.5rem;
    padding: 0.35rem 2rem;
    width: calc(100% - 5rem);
}

.modal-list-buttons {
    grid-area: buttons;
    display: flex;
    height: fit-content;
    padding: 0;
    column-gap: 0.6rem;
    margin: 1.5rem auto 0 auto;
    width: 31%;
}