.modal-list-container {
    display: grid;
    grid-template-areas:
            "title"
            "list"
            "buttons";
    grid-template-columns: 100%;
    min-width: 48rem;
    width: fit-content;
}

.list-content {
    display: grid;
    grid-template-columns: 33% auto auto;
}

{/** TODO: Share style with filters - replace: filter-item-container, filter-img-container */}
.list-item-container {
    all: unset;
    display: flex;
    column-gap: 0.5rem;
    width: calc(100% - 3rem);
    margin: 0.5rem 1.5rem;
    font-size: 0.85rem;
    align-items: center;
    text-align: left;
    cursor: pointer;
}

.list-item-container > *:active {
    pointer-events: none;
}

.list-img-container {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    border: 1px solid var(--color-white-soft-background);
    box-shadow: 0 0 0.8rem var(--color-black-lighter-shadow);
    overflow: hidden;
    position: relative;
}

.list-img-container img {
    height: 100%;
    aspect-ratio: 1 / 1;
    transition-property: filter;
    transition-duration: 0.5s;
}

.list-img-container img:hover {
    filter: brightness(70%);
}
{/** TODO: end ------------------ */}

.list-item-container {
    background: white;
    margin: 0 0.5rem;
    padding: 0.35rem 2rem;
    width: calc(100% - 5rem);
}

.modal-list-buttons {
    grid-area: buttons;
    display: flex;
    height: fit-content;
    padding: 0;
    column-gap: 0.6rem;
    margin: 1.5rem auto 0 auto;
    width: 31%;
}