/* Mobile version. */
.gallery-preview-container {
    margin: 0 auto 3rem auto;
    width: calc(100% - 1.4rem);
}

.gallery-preview-container .section-title {
    width: fit-content;
    margin: 0;
}

.gallery-preview-container .section-title span {
    font-weight: 300;
}

.gallery-preview-content {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 0.6rem) / 3));
    grid-template-rows: repeat(auto-fill, minmax(3rem, auto));
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
}

.gallery-img-container {
    cursor: pointer;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    box-shadow: none;
    overflow: hidden;
    transition-property: filter;
    transition-duration: 0.8s;
}

.gallery-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-img-container:hover {
    filter: brightness(50%);
    transition-duration: 0.2s;
}

.gallery-preview-content .arrow-button {
    transform: scale(0.8) rotate(90deg);
    margin: 0.5rem auto;
    align-self: center;
}

/* Tablet version. */
@media all and (min-width: 768px) {
    .gallery-preview-content {
        grid-template-columns: repeat(5, 15.8%) 15.8%;
        grid-column-gap: 1%;
    }
}

/* Desktop version. */
@media all and (min-width: 1100px) {

}

