/* Mobile version. */
.expanded-gallery-picture-modal {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0 auto;
    grid-template-areas:
            "title"
            "content";
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background: none;
    box-shadow: unset;
}

.expanded-gallery-picture-modal .modal-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
            "empty empty close"
            "left img right";
    grid-template-rows: 3.5rem auto;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: unset;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.expanded-gallery-picture-modal .modal-header {
    display: none;
}

.close-gallery-button {
    grid-area: close;
    width: 1.5rem;
    height: 1.5rem;
    align-self: flex-end;
    cursor: pointer;
    opacity: 80%;
    transition-property: opacity;
    transition-duration: 0.5s;
    margin: 0 0 1rem -1.65rem;
}

.close-gallery-button:hover {
    opacity: 100%;
    transition-duration: 0.2s;
}

.close-gallery-button img {
    width: 1.5rem;
    height: 1.5rem;
}

.expanded-gallery-img-container {
    grid-area: img;
    width: min(95%, 75rem);
    height: min(85%, 45rem);
    overflow: hidden;
    justify-self: center;
    border-radius: 0.2rem;
    border: 1px solid rgba(60, 65, 70, 0.8);
    box-shadow:
            0 0 2rem var(--color-black-medium-shadow),
            0 0 1rem var(--color-black-darker-shadow),
            0 0 0.01rem white;
    align-self: flex-start;
    margin-top: 0.2rem;
}

.expanded-gallery-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-button {
    display: flex;
    width: fit-content;
    height: 80%;
    align-self: flex-start;
    justify-self: center;
    align-items: center;
    cursor: pointer;
    opacity: 80%;
    transition-property: opacity;
    transition-duration: 0.5s;
    margin-top: 1.5rem;
}

.gallery-button button {
    background: black;
    transition-property: transform, outline, outline-offset;
    outline: 1px solid rgba(255, 255, 255, 0);
    outline-offset: -0.3rem;
    border: 2px solid black;
}

.gallery-button button:hover {
    background: black;
    outline: 1px solid var(--color-white-soft-background);
    outline-offset: 0.2rem;
    transition-duration: 0.2s;
}

.left-gallery-button {
    grid-area: left;
}

.left-gallery-button button {
    transform: scale(0.65) rotate(-90deg);
}

.left-gallery-button button:hover {
    transform: scale(0.75) rotate(-90deg);
}

.right-gallery-button {
    grid-area: right;
}

.right-gallery-button button {
    transform: scale(0.65) rotate(90deg);
}

.right-gallery-button button:hover {
    transform: scale(0.75) rotate(90deg);
}

/* Tablet version. */
@media all and (min-width: 768px) {
    .expanded-gallery-picture-modal .modal-content {
        grid-template-rows: 4.1rem auto;
    }

    .close-gallery-button {
        margin: 0;
    }

    .expanded-gallery-img-container {
        margin-top: 1.5rem;
        height: min(80%, 55rem);
    }

    .gallery-button button:hover {
        outline-offset: 0.3rem;
    }

    .left-gallery-button button {
        transform: scale(0.8) rotate(-90deg);
    }

    .left-gallery-button button:hover {
        transform: scale(0.9) rotate(-90deg);
    }

    .right-gallery-button button {
        transform: scale(0.8) rotate(90deg);
    }

    .right-gallery-button button:hover {
        transform: scale(0.9) rotate(90deg);
    }
}

/* Desktop version. */
@media all and (min-width: 1100px) {
    .expanded-gallery-img-container {
        margin-top: 2.5rem;
    }
}