.location-container {
    display: grid;
    align-items: flex-end;
    height: 11rem;
    position: relative;
}

.location-container-background {
    width: 80%;
    height: fit-content;
    position: relative;
    opacity: 100%;
    margin: 0 auto;
    justify-self: center;
}

.location-container-background img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.location-container .location-marker {
    width: 0.6rem;
    height: 0.6rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 20%;
}

.location-container p {
    padding: 0 0.5rem;
    font-size: 0.6rem;
    margin: 0.2rem 0;
    opacity: 80%;
    top: -2rem;
}

.location-container p span {
    font-weight: 600;
}

/* Tablet version. */
@media all and (min-width: 768px) {
    .location-container {
        height: 7rem;
    }

    .location-container-background {
        width: 100%;
    }
}

/* Desktop version. */
@media all and (min-width: 1100px) {
    .location-container {
        height: 8rem;
    }
}
