/* Mobile version. */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    background: var(--color-black-background);
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    z-index: 3;
}

.modal-container {
    background: var(--color-white-background);
    height: fit-content;
    width: fit-content;
    min-width: 15rem;
    margin: 7.2rem auto;
    padding: 2rem 0 0 0;
    border-radius: 0.3rem;
    box-shadow:
            0 0 2.5rem var(--color-black-darker-shadow),
            0 0 1.5rem var(--color-black-darker-shadow);
    vertical-align: center;
    overflow: hidden;
    position: relative;
}

.modal-shadow-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--color-black-gradient);
    height: 7rem;
    width: 100vw;
    pointer-events: none;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.2rem;
    background: var(--color-green-header);
    color: var(--color-white-text);
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    width: calc(100% - 2rem);
    height: 1.2rem;
    box-shadow: 0 0 2rem var(--color-black-lighter-shadow);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.section-title-modal {
    grid-area: title;
    width: fit-content;
    margin: 0.5rem auto 1rem auto;
    font-size: 1.1rem;
    font-weight: 400;
}

.modal-header div {
    margin: 0;
    width: 0.35rem;
    height: 0.35rem;
    border-top: 1px solid var(--color-white-text);
    border-left: 1px solid var(--color-white-text);
    transform: rotate(-45deg);
}

.modal-content {
    margin: 2rem 1.5rem 1.5rem 1.5rem;
    width: calc(100% - 3rem);
}

.modal-list-container {
    display: grid;
    grid-template-areas:
            "title"
            "list"
            "buttons";
    grid-template-columns: 100%;
    min-width: 11rem;
    width: fit-content;
}

.list-content {
    display: grid;
    grid-template-columns: 100%;
    margin: 1rem 0;
}

.list-content .list-item-container:nth-child(1) {
    padding-top: 1.5rem;
}

.list-content .list-item-container:last-child {
    padding-bottom: 1.5rem;
}

.list-item-container p {
    width: fit-content;
    max-width: 5.8rem;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-container {
    background: white;
    margin: 0 auto;
    padding: 0.35rem 0.8rem;
    width: calc(100% - 1.6rem);
}

.modal-list-buttons {
    grid-area: buttons;
    display: flex;
    height: fit-content;
    padding: 0;
    column-gap: 0.6rem;
    margin: 0.5rem auto 0 auto;
    width: 100%;
}

.modal-list-buttons .button-action {
    padding: 0.5rem;
}

.modal-list-container .not-found-container {
    justify-self: center;
    width: 10rem;
    margin: 1rem 1.2rem;
}

.modal-list-container .list-img-container {
    min-width: 3.2rem;
}

.no-close-modal .modal-header {
    cursor: default;
    pointer-events: none;
}

.no-close-modal .modal-header > * {
    display: none;
}

/* Tablet version. */
@media all and (min-width: 768px) {
    .modal-container {
        margin: 7.2rem auto;
    }

    .modal-list-container {
        min-width: 38rem;
    }

    .section-title-modal {
        font-size: 1.2rem;
    }

    .list-content {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        grid-template-areas: "content not-found content2";
    }

    .list-content .list-item-container:nth-child(1),
    .list-content .list-item-container:last-child {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .list-item-container {
        padding: 0.5rem 0.8rem;
        width: calc(100% - 1.6rem);
    }

    .modal-list-buttons {
        width: 31.5%;
    }

    .modal-list-container .not-found-container {
        grid-area: not-found;
    }
}

/* Desktop version. */
@media all and (min-width: 1100px) {
    .modal-list-container {
        min-width: 48rem;
    }

    .modal-list-container .not-found-container {
        width: 12rem;
    }
}