/* Mobile version. */
.post-image-gallery-container {
    width: 100%;
    height: 11rem;
    object-fit: cover;
}

.post-image-gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-post-shared-author-container {
    display: flex;
    height: 11.5rem;
}

.images-post-shared-author-container .post-image-gallery-container {
    height: 100%;
    width: 100%;
}