.weather-animation-container {
    display: grid;
    grid-template-areas:
            "cloud cloud cloud"
            "sun empty empty"
            "sun plant none"
            "ground ground ground";
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 35% repeat(2, 15%) 25%;
    width: 100%;
    height: 11rem;
    position: absolute;
    justify-items: center;
    left: 0;
    z-index: 0;
}

.sun-animation {
    grid-area: sun;
    align-self: center;
    position: relative;
    top: -0.5rem;
    left: 0.3rem;
    width: 3rem;
    height: 3rem;
}

.plant-animation {
    grid-area: plant;
    align-self: flex-end;
    position: relative;
    top: 2.53rem;
    width: 4.5rem;
    height: 4.5rem;
    opacity: 70%;
}

.cloud-animation {
    grid-area: cloud;
    align-self: flex-end;
    width: 100%;
    height: 100%;
}

.ground {
    grid-area: ground;
    background: #94b565;
    height: 6rem;
    width: 120%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 1;
}

.weather-data-outer-container {
    height: 11.5rem;
    width: 100%;
    margin: 0;
}

.weather-data-container {
    display: grid;
    grid-template-areas:
            "empty white time"
            "empty temperature none"
            "data data none";
    grid-template-columns: repeat(3, 32%);
    font-size: 0.6rem;
    white-space: nowrap;
    width: 100%;
    height: 10rem;
    color: var(--color-black-lighter-text);
    position: absolute;
    left: 0;
    z-index: 1;
}

.weather-data-container label {
    display: flex;
    column-gap: 0.2rem;
    grid-area: time;
    justify-self: right;
    opacity: 70%;
    align-items: center;
}

.clock {
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid lightsteelblue;
    border-radius: 50%;
    position: relative;
}

.clock div {
    width: 0.18rem;
    height: 0.2rem;
    border-top: 1px solid lightsteelblue;
    border-right: 1px solid lightsteelblue;
    position: absolute;
    top: 0.26rem;
    left: 0.18rem;
    transform-origin: top right;
    opacity: 90%;
}

.weather-data-container h6 {
    grid-area: temperature;
    font-size: 0.75rem;
    width: fit-content;
    justify-self: center;
}

.data-content {
    grid-area: data;
    display: block;
    padding-left: 1rem;
    height: fit-content;
    align-self: flex-end;
    margin: 2.9rem 0 0 1.5rem;
}

.data-content p {
    margin: 0.2rem 0;
    color: white;
    text-shadow: 0 0 1rem var(--color-black-shadow);
}

.data-content p span {
    font-weight: 600;
}

.day-background, .night-background {
    margin: -0.25rem 0 0 -0.3rem;
    width: calc(100% + 0.6rem);
    padding-top: 0.3rem;
}

.night-background {
    background: linear-gradient(to top, black  0%, #1c314f 80%);
}

.night-background .weather-data-container h6, .night-background label  {
    color: white;
}

.night-background .cloud-animation  {
    position: relative;
    top: 1rem;
}

.wind-data {
    display: grid;
    grid-template-columns: minmax(1.8rem, auto) minmax(2.5rem, auto) 0.5rem;
    grid-column-gap: 0.3rem;
    grid-template-rows: 0.7rem;
    grid-template-areas: "title text arrow";
    align-items: center;
    justify-content: left;
}

.data-content label {
    grid-area: arrow;
    position: relative;
    opacity: 90%;
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    transform-origin: center;
}

.data-content label span:nth-child(1) {
    display: block;
    height: 0.2rem;
    width: 0.2rem;
    position: absolute;
    border-top: 0.12rem solid white;
    border-left: 0.12rem solid white;
}

.data-content label span:nth-child(2) {
    display: block;
    height: 0.12rem;
    width: 0.5rem;
    background: white;
    position: absolute;
    top: 0.03rem;
    left: 0.12rem;
    transform-origin: left top;
    transform: rotate(45deg);
}

/* Tablet version. */
@media all and (min-width: 768px) {
    .data-content {
        margin: 2.9rem 0 0 0.5rem;
    }

}

/* Desktop version. */
@media all and (min-width: 1100px) {

}